my-app .main-panel .main-content .card{
    animation-duration: 750ms;
    opacity: 0;
    animation-name: fadeIn;
    animation-fill-mode: forwards;
}

#main-content{
    align-items: center;
}

#chartdiv {
    width: 100%;
    height: 500px;
}
#totalOffersDiv{
    margin: auto;
    width: 100%;
    height: 5vh;
}
#totalOffers{
    font-size: 3em;
    margin-top: 5%;
    text-align: center;
}
#backPanel{
    width: 50%;
    height: 100%;
    align-items: center;
    margin: auto;
    margin-bottom: 10%;
    background-color: white;
    box-shadow: 10px 5px 5px #888888;
    border-radius: 25px;
}
#top5Div{
    font-size: 2em;
    width: 100%;
    margin-top: 5%;
    align-items: center;
}

#top5Message{
    margin: auto;
    font-size: 1.5em;
    text-align: center;
    width: 100%;
    line-height: 270%;
    height: 10vh;
    vertical-align: middle;
}

.top5{
    margin: 5%;
    align-self: center;
    text-align: center;
}
.countyName{
    margin: auto;
}

.matchBarContainer{
    height: 2vh;
    width: 30vw;
    margin: auto;
    align-items: center;
}
.matchBar{
    height: 100%;
    width: 100%;
    background-color: #cccccc;
    box-shadow: 10px 5px 5px #888888;
    margin: 2%;
}
.matchFill{
    height: 100%;
    width: 30%;
    background-color: #42c8f4;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@media (min-width: 992px){
    .typo-line{
        padding-left: 140px;
        margin-bottom: 40px;
        position: relative;
    }

    .typo-line .category{
        transform: translateY(-50%);
        top: 50%;
        left: 0px;
        position: absolute;
    }
}

#map{
    position:relative;
    width:100%;
    height: calc(100% - 60px);
    margin-top: 70px;
}

.places-buttons .btn{
    margin-bottom: 30px
}

.space-70{
    height: 70px;
    display: block;
}

.sidebar .nav > li.active-pro{
    position: absolute;
    width: 100%;
    bottom: 10px;
}
@media (max-width: 991px) {
    .sidebar .nav > li.active-pro{
        position: relative;
        width: 100%;
        bottom: 10px;
    }
    .sidebar .nav > li.active-pro > a{
        margin-top: 20px;

    }
}

.tim-row{
    margin-bottom: 20px;
}

.tim-typo{
    padding-left: 25%;
    margin-bottom: 40px;
    position: relative;
}
.tim-typo .tim-note{
    bottom: 10px;
    color: #c0c1c2;
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    left: 0;
    margin-left: 20px;
    position: absolute;
    width: 260px;
}
.tim-row{
    padding-top: 50px;
}
.tim-row h3{
    margin-top: 0;
}
