

<div class="main-content">

    <nav class="navbar navbar-transparent navbar-absolute navbar-sub affix" id="fixed-submenu" navbar-affix>
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" >
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="collapse navbar-collapse">

                <ul class="nav nav-pills nav-pills-submenu">
                    <li role="presentation"><a data-id="#" class="scroll-link ng-binding" href="#homeus">Home</a></li>
                    <li role="presentation"><a data-id="#" class="scroll-link ng-binding" href="#aboutUs">About</a></li>
                    <li role="presentation"><a data-id="#" class="scroll-link ng-binding" href="#contactUs">Contact Us</a></li>
                </ul>

            </div>
        </div>
    </nav>


    <div class="container-fluid panels ng-scope">

            <div class="container-fluid data-block-side data-block-color-1 ng-scope" id="homeus">
                <div class="col-md-8 col-md-offset-2">
                    <div class="row">
                        <img class="center-block" src="../../../assets/img/Settlbetterlogo.png" style="width: 600px; " >
                    </div>
                    <div class="row">
                        <!--<div style="" class="center">-->
                        <!--<button [routerLink]="['/standard-form']" class="btn btn-default center-block" style="background-color: #F171A7; width: 340px; height: 80px; font-size: x-large; line-height: 60px;">Settle now</button>-->
                        <!--</div>-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="singlebutton"></label>
                            <div class="col-md-4 center-block">
                                <a id="singlebutton" name="singlebutton" [routerLink]="['/standard-form']" class="btn btn-default center-block" style="background-color: #F171A7; width: 340px; height: 80px; font-size: x-large; line-height: 60px; margin: 0 auto;" >
                                    Settle now
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="container-fluid data-block-side data-block-color-1 ng-scope" id="aboutUs">
                <div class="col-md-8 col-md-offset-2">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2 class="h2 ng-binding">About</h2>
                            <p class="ng-binding">We are a team of passionate changemakers who have decided to hack a solution to tackle the refugee resettlement issue. How?<br/>
                                By automating the data matching between refugees and cities via an online platform.<br/>
                                <br/>
                                A matching platform which takes into account refugee skills and preferences to connect them with the most approriate living places is not a new idea. But our partners from <a href="https://www.refugees-say.com/" target="_blank">Refugees Say</a> have researched this matching solution in depth and their research articles and academic work can be found and read from various big publishers' sites.<br/>
                                <br/>
                                However it has not yet been empirically tested anywhere. That is where we come in.<br/>
                                <br/>
                                We are implementing their solution by testing the database matching platform in one of the most digitally advanced society in the world, Estonia.<br/>
                                <br/>
                                At the moment we are in the process of gathering the data and developing the appropriate matching algorithm. Our team of developers includes refugees, so the platform is being built by refugees for refugees.<br/>
                                We are partnering with the forward thinking Estonian refugee resettlement agency-the <a href="http://www.pagulasabi.ee/en" target="_blank">Estonian Refugee Council</a>, to access the resettlement process.<br/>
                                <br/>
                                The project's immediate impact will be to support refugees granted asylum in Estonia thrive in the communities where they live, but it will also build an evidence base for policymakers in other countries to follow.<br/>
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <img class="img-responsive" height="500" src="../../../assets/img/team.jpg" alt="Picture" style="margin-top: 75px;">
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid data-block-side data-block-color-0 ng-scope" id="contactUs">
                <div class="col-md-8 col-md-offset-2">
                    <div class="row">
                        <div class="col-sm-6">
                            <img class="img-responsive" height="500" src="../../../assets/img/img_83640573971.png" alt="Picture">
                        </div>
                        <div class="col-sm-6">
                            <h2 class="h2 ng-binding">Contact Us</h2>
                            Research:
                            <br/>
                            Angus Barry
                            <br/>
                            <a href="mailto:refugees.say@gmail.com" target="_top">refugees.say@gmail.com</a>
                            <br/>
                            Partnership:
                            <br/>
                            <a href="mailto:settlebetter@gmail.com" target="_top">settlebetter@gmail.com</a>
                            <br/>


                            Our team:
                            <br/>
                            UK team
                            <br/>
                            Co-ordinator: Angus Barry
                            <br/>
                            Estonian team
                            <br/>
                            Co-ordinators: Birgit Podelsky, Marge Maidla
                            <br/>
                            Researchers: Mariana Maidla, Maris Pihle, Erko Pettai, Timo Treit
                            <br/>
                            Developers: Wajid Ali Khilji, Siim Tiilen, Masaki
                            <br/>
                        </div>
                    </div>
                </div>
            </div>
    </div>



</div>
