<div class="main-content">

        <div class="container-fluid" style="margin-top: 10%;">
            <div class="row">
                <img class="center-block" src="../../../assets/img/Settlbetterlogo.png" style="width: 600px; " >
            </div>
            <div class="row">
                <div style="margin-left:41%; ">
                    <a [routerLink]="['/standard-form']" class="btn btn-default" style="background-color: #F171A7; width: 340px; height: 80px; font-size: x-large; line-height: 60px;">Settle now</a>
                </div>
            </div>
        </div>
</div>
