<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Animals</h4>
                        <p class="category">List of Animals in the Zoo</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-danger">
                            <tr>
                                <th>Name</th>
                                <th>Species Name</th>
                                <th>Year of Birth</th>
                                <th>Age</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let animal of animals">
                                    <td>{{animal.Name}}</td>
                                    <td>{{animal.Species.Name}}</td>
                                    <td>{{animal.YearOfBirth}}</td>
                                    <td>{{animal.Age}}</td>
                                    <td class="td-actions text-right">
                                        <button type="button" rel="tooltip" title="Edit Animal" class="btn btn-primary btn-simple btn-xs" (click)="editAnimal(animal.Id)">
                                            <i class="material-icons">edit</i>
                                        </button>
                                        <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs" (click)="removeAnimal(animal.Id)">
                                            <i class="material-icons">close</i>
                                        </button>
                                    </td>
                                </tr>

                            </tbody>
                        </table>

                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger">warning</i> <a href="#pablo">Average Age of animals in the zoo is {{averageAge | number}}</a>
                            <button class="btn btn-primary " (click)="addNewAnimal()">Add New</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="modal fade login" id="animalsModal">
    <div class="modal-dialog login animated">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Login with</h4>
            </div>
            <div class="modal-body">
                <div class="box">
                    <div class="content">

                        <div class="division">
                            <div class="line l"></div>
                            <!--<span>or</span>-->
                            <div class="line r"></div>
                        </div>
                        <div class="error"></div>
                        <div class="form confirmBox">
                            <small  class="text-danger">
                                <i>{{error}}</i>
                            </small>
                            <strong>Are you sure you want to delete animal {{animal.Name}}</strong>
                            <button class="btn btn-danger btn-register" (click)="deleteAnimal(animal.Id)">Delete</button>
                        </div>

                    </div>
                </div>
                <div class="box">
                    <div class="content animalsBox" style="display:none;">
                        <div class="form">
                            <small  class="text-danger">
                                <i>{{error}}</i>
                            </small>
                            <form #f="ngForm" novalidate >
                                <input placeholder="Name" type="text" class="form-control" name="Name" [(ngModel)]="animal.Name"
                                       required minlength="1" maxlength="15" #Name="ngModel">
                                <small [hidden]="Name.valid || (Name.pristine && !f.submitted)" class="text-danger">
                                    First name is required (minimum 1 characters).
                                </small>
                                <select class="form-control" name="SpeciesFK" [(ngModel)]="animal.SpeciesFK" #SpeciesFK="ngModel" required>
                                    <option *ngFor="let s of species" [ngValue]="s.Id">{{s.Name}}</option>
                                </select>
                                <small [hidden]="SpeciesFK.valid || (SpeciesFK.pristine && !f.submitted)" class="text-danger">
                                    Species is required.
                                </small>

                                <input placeholder="Year Of Birth" type="number" class="form-control" name="YearOfBirth" [(ngModel)]="animal.YearOfBirth"
                                       required #YearOfBirth="ngModel">
                                <small [hidden]="YearOfBirth.valid || (YearOfBirth.pristine && !f.submitted)" class="text-danger">
                                    Should be 4 numbers <i>1998</i>.
                                </small>
                                <input placeholder="Age" type="number" class="form-control" name="Age" [(ngModel)]="animal.Age"
                                       required #Age="ngModel">
                                <small [hidden]="Age.valid || (Age.pristine && !f.submitted)" class="text-danger">
                                    Age is required
                                </small>
                                <input hidden name="Id" [ngModel]="animal.Id">

                                <button class="btn btn-primary btn-register pull-right" name="commit" (click)="saveAnimal(f.value, f.valid)">Save Animal</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="forgot confirm-footers" style="display:none">

                </div>
                <div class="forgot animals-footers" style="display:none">

                </div>
            </div>
        </div>
    </div>
</div>
